{% extends "_layouts/main" %}
{% block main %}
<section id="imgsection" alt="{{ entry.title }}" style="background-image: url('{{ entry.headimage.one().getUrl() }}');">
	<div class="container text-center">
		<h1 class="pt-5 text-white">{{ entry.title }}</h1>
	</div>
</section>
<section class="bg-dark text-white mt-4 container">
	<div class="row">
	{% if entry.inhoudzelf|length %}
		{% for block in entry.inhoudzelf.all() %}
		{% switch block.type %}
		{% case 'bodycopy' %}
		{{ block.bodytext }}
		{% case 'videolink' %}
		<iframe class="mb-3" src="{{ block.videolink }}" width="560" height="315" allowfullscreen></iframe>
		{% endswitch %}
		{% endfor %}
  {% endif %}
	{% if entry.videolink|length %}
	<iframe src="{{ entry.videolink }}" width="560" height="315" allowfullscreen></iframe>
  {% endif %}
	{{ entry.pagecopy }}
	</div>
</section>
{% endblock %}
